<div class="contacts">
    <div class="container">
        <div class="contacts__title">CONTACTS</div>
        <div class="contacts__subtitle">We are open for dialog and you are welcome to share your opinions or
            thoughts with us</div>
        <div class="contacts__subsubtitle">Hit us up any time through email with any idea and help us turn
            your great ideas into brilliant projects</div>

            <div class="contacts__row">
                <div class="contacts__left">
                    @@include("../blocks/contacts-address.html")
                    @@include("../blocks/contacts-address.html")
                    @@include("../blocks/contacts-address.html")
                    @@include("../blocks/contacts-address.html")
                    @@include("../blocks/contacts-address.html")
                </div>
                <div class="contacts__right">
                    <div class="contacts__card">
                        <div class="contacts__name">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="contacts__mail-right">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="contacts__message">
                            <input type="text" placeholder="Message">
                        </div>
                        <div class="contacts__btn">
                            <a href="">Send request</a>
                        </div>
                    </div>
                    <div class="contacts__pic-1 contacts__pic-none"><img src="/assets/contacts-pic-1.svg"
                            alt=""></div>
                    <div class="contacts__pic-2 contacts__pic-none"><img src="/assets/contacts-pic-2.svg"
                            alt=""></div>
                    <div class="contacts__pic-3 contacts__pic-none"><img src="/assets/contacts-pic-3.svg"
                            alt=""></div>
                </div>
            </div>

    </div>
</div>