<div class="container">
    <div class="vr-app-development">
        <div class="vr-app-development__way">
            <div class="way-one">
                <a href="">Home</a> <span class="way"></span> <a href="">Services</a> <span class="way"></span> <a href="">VR App Development</a>
            </div>
            <div class="way-two">
                <a href="">Services</a> <span class="way"></span> <a href="">VR App Development</a>
            </div>
        </div>
        <div class="vr-app-development__top">
            <div class="vr-app-development__row">
                <div class="vr-app-development__title">VR APP Development</div>
                <div class="vr-app-development__picture">
                    <img src="/assets/lady.svg" alt="">
                </div>
            </div>
        </div>
        <div class="vr-app-development__bot">
            <div class="vr-app-development__row-bot">
                @@include("../blocks/vr-app-text.html")
                @@include("../blocks/vr-app-text.html")
            </div>
            <div class="vr-app-development__social">
                <div class="vr-app-development__icon-1">
                    <a href=""><img src="/assets/facebook.svg" alt=""></a>
                </div>
                <div class="vr-app-development__icon-2">
                    <a href=""><img src="/assets/in.svg" alt=""></a>
                </div>
                <div class="vr-app-development__icon-3">
                    <a href=""><img src="/assets/phone.svg" alt=""></a>
                </div>
                <div class="vr-app-development__icon-4">
                    <a href=""><img src="/assets/Skype.svg" alt=""></a>
                </div>
            </div>
            <div class="clutch">
                <div class="clutch__row">
                    <div class="clutch__img">
                        <a href=""><img src="/assets/clutch.png" alt=""></a>
                    </div>
                    <div class="clutch__stars">
                        <div class="clutch__stars-row">
                            <div class="clutch__stars-text">4.5</div>
                            <div class="clutch__rating">
                                <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <!-- Градиент, который будет задавать два цвета -->
                                        <linearGradient id="gradient" x1="0" x2="100%" y1="0" y2="0">
                                            <stop offset="50%" stop-color="#06B25F"></stop>
                                            <stop offset="50%" stop-color="#E1E1E1"></stop>
                                        </linearGradient>
                                    </defs>
                                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 22" id="star">
                                        <path d="M12 0L14.6942 8.2918H23.4127L16.3593 13.4164L19.0534 21.7082L12 16.5836L4.94658 21.7082L7.64074 13.4164L0.587322 8.2918H9.30583L12 0Z"/>
                                    </symbol>
                                </svg>
                                <div class="clutch__c-rate">
                                    <svg class="clutch__c-icon clutch__active" width="24" height="24">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="clutch__c-icon clutch__active" width="24" height="24">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="clutch__c-icon clutch__active" width="24" height="24">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="clutch__c-icon clutch__active" width="24" height="24">
                                        <use xlink:href="#star"></use>
                                    </svg>
                                    <svg class="clutch__c-icon" width="24" height="24">
                                        <use xlink:href="#star" fill="url(#gradient)"></use>	<!-- вызвать градиент:  fill="url(#gradient)" -->
                                    </svg>
                                </div>
                            </div>
                            <div class="clutch__stars-reviews">2 reviews </div>
                        </div>
                    </div>
                    <div class="clutch__btn"><a href="">Check out reviews</a></div>
                </div>
            </div>
        </div>
    </div>
</div>